/* Los estilos de tu proyecto */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
}
/* Clases reutilizables*/
.bkgr-color {
    background-color: #f7b617;
}
.pd {
    padding: 2em 1em;
}
.app-border {
    border:0.2em solid #ffffff;
}
.center {
    text-align: center;
}
.text-color {
    color: #ffffff;
}
.font-size {
    font-size: 24px;
}
/* Clases Personalizadas */
.navigator {
    background-color: #ffffff;
    border: none;
    margin: 15px;
}
.logo {
    padding: 0.5em;
    margin: 0.5em;
}
.logo-blanco {
    height: 25%;
    display: inline-flex;
}
.mobile-menu {
    font-size: 34px;
    display: flex;
    float: right;
    position: relative;
    padding: 9px 10px;
    margin-top: 18px;
    margin-left: 15px;
    margin-bottom: 8px;
}
.desktop-menu {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}
.desktop-menu a {
    text-decoration: none;
    color: black;
    padding: 10px; 
}
/* segunda sección */
.app-download {
    align-items: center;
    background-image: url('../assets/images/taxi.jpg');
    background-position: 10% 90%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    height: 84vh;
}
.aside {
    height: 35vh;
    width: 80vw;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;  
    position: relative;
    left: 4.4em;
}
.btn-1 {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 20px;
    font-weight: normal;    
    margin-top: 0.5em;
    padding: 6px 12px;
    vertical-align: middle;
}
.app-info {
    padding: 8vw;
    margin: 1em;

}
.app-text {
    display: inline-flex;
    font-size: 1em;
    padding-right: 9em;
}
.driver-register {
    background-image: url('../assets/images/conduce.jpg');
    background-position: -9em -0.1em;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
}
.content-driver {
    position: relative;
    top: 200px;
    color: #ffffff;
}
.driver-text {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 0 2em;
    top: 4em;
}
.margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-2 {
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding: 6px 12px;
    color: #ffffff;
}
/* quinta sección*/
.rates {
    background-color: #F7B617;
    color: #ffffff;
}
.input-border {
    border: 0.1em solid #ffffff;
}
.input-border::placeholder{
    color: #ffffff;
}
.map-rates {
    border: 0.1em solid #ffffff;
    padding: 0.4em;
    width: 100%;
    align-content: right;
}
.map-box {
    height: 50vh;
    padding: 2em;
}
.border-map {
    border: 0.2em solid #fff;
}
/* Google Maps */
.map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
/* sexta sección */
.global-options {
    background-color: #2b2b2b;
} 
.global-details {
    display: block;
    padding: 1em;
    font-size: 22px;
}
.options{
    list-style: none;
}
.options a {
    text-decoration: none;
}
.margin-out {
    margin: 0;
}
.play-store, .app-store {
    width: 9em;
    padding: 1em 0;
}

 /* Media queries*/
@media (min-width: 767px) and (max-width: 991px) {
    .app-download {
        background-position-y: -55em;
        height: 95vh;
    }
    .aside{
        height: 40vh;
        width: 68vh;
        left: 18.3em;
    }
    .app-text {
        padding-right: 7em;
        font-size: 1.5em;
        display: inline-flex;
        text-justify: initial;
    }
    .driver-register {
        background-position: -25em -14em;
        background-size: 135%;
        height: 80vh;
    }
    .driver-text {
        top: 8em;
    }
    .map {
        width: 100%;
        height: 400px;
        color: grey;
    }
}
@media (min-width: 992px) and (max-width: 1440px) {
    .desktop-menu a:hover {
        background-color: grey; 
    }
    .app-download {
        background-position-y: -113em;
    }
    .driver-register {
        background-position-x: -0em;
        background-position-y: -24em;
    }
    .aside {
        width: 37vw;
        height: 45vh;
        left: 39.2em;
    }
    .app-text {
        padding-right: 9em;
        font-size: 1.5em;
        display: inline-flex;
    }
    .app-info {
        height: 42vh;
    }
    
}
